{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block body %}

	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<h1 class='text-center my-25'>Inscription</h1>
	<div class="container w-70 h-70 text-black mt-15 bg-light">


		{{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Prenom) }} <br>

        {{ form_row(registrationForm.Nom) }} <br>
		{{ form_row(registrationForm.email) }}
		<br>
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		<br>

		{{ form_row(registrationForm.agreeTerms) }}
		<br>

		<button type="submit" class="btn btn-success">Soumettre</button>
	</div>
	{{ form_end(registrationForm) }}

{% endblock %}
