{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}


	<div class="container">
		<H2>
			<ta-center>Venez découvrir toutes nos annonces</ta-center>
		</h2><br/><br/>
		<div class="row">
			{% for anounce in anounce %}

				<div class="col-md-4">
					<div class="card mb-3">
						<p class="card-header text-center">
							{% if anounce.room < 2 %}Une chambre
							{% else %}
								{{anounce.room}}
								Chambres
							{% endif %}
							à
							{{anounce.price | number_format(0, ',', ' ')}}
							/mois
							<br/>
							<small>{{anounce.comments |length }}
								commentaires</small>
						</p>

						<img src="{{ asset('uploads/cover_images/' ~ anounce.coverImage  ) }}" alt="image" style="height:300; width:100%;">

						<div class="card-body">


							<h5>{{anounce.title}}</h5>

							<p class="card-text">{{anounce.introduction |u.truncate(100, '...')}}</p>
						</div>

						<div class="card-body">
							<a href="{{ path('annonces_show', {'slug':anounce.slug}) }}" class="card-link btn btn-primary">Détails...</a>
						</div>
						<div class="card-footer text-muted text-center">
							<i class="fas fa-map-marker">
								{{anounce.address}}
							</i> <br>
							<small>{{ anounce.createAt | ago(locale='fr') }}</small>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>

	</div>


{% endblock %}
