{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}


	<div class="container">
	<H1> <ta-center>Venez découvrir toutes nos annonces</ta-center></H1><br/><br/>
		<div class="row">
			{% for anounce in anounce %}

				<div class="col-md-4">
					<div class="card mb-3"></div>
					<h5 class="card-header">{{anounce.title}}</h5>

					<img src="{{anounce.coverImage}}" alt="image" style="height:300; width:100%;">
					<div class="card-body">
						<p class="card-text">{{anounce.description}}</p>
					</div>

					<div class="card-body">
						<a href="{{path('show', {'id':anounce.id})}}" class="card-link btn btn-primary">Détails...</a>
					</div>
					<div class="card-footer text-muted text-center">
						Il y'a 2 jours
						<i class="fas fa-map-marker"> {{anounce.address}} </i>
						<strong></strong>
					</div>


				</div>
			{% endfor %}
		</div>

	</div>


{% endblock %}
