{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<div class="container my-5 py-5" style="background-image: url('{{anounce.coverImage}}'); background-repeat: no-repeat; height:350px; color:white; font-size:25px">
		<div class="mask rgba-gradient align-items-center;">
			<div ="card-body ">
				<p class="card-title text-center ">{{anounce.title}}</p>
				<p class="card-title text-center">{{anounce.Introduction}}</p>
				<p class="card-text text-center">3 Chambre à
					{{anounce.Price}}
					FCFA/Mois</p>
				<p class="card-text text-center">{{anounce.Address}}</p>

			</div>
		</div>
	</div>

	<div class="container my-5">
		<h2>Description</h2>
		<p>{{anounce.description}}</p>
	</div>

	<div class="container">
		<h3 style="margin-top: 2em;">Commentaires</h3>

		<div class="row d-inline-flex">

			<div class="col-md-8">
				{% for comment in anounce.comments %}
					<div class="alert alert-info">
						<strong>{{comment.author}}
							a écrit</strong>
						<p>{{comment.content}}</p>
					</div>
				{% endfor %}
			</div>

			<div class="col-md-4">
				<div class="list-group">

					<div class="d-flex w-100 justify-content-between">
						<h5>Auteur de l'annonce</h5>
					</div>
					<img src="/image/auteur.jpg" alt="" style='width:50px;'>
					<p>Prénom:<strong>
							Gabriel</strong>
					</p>
					<p>Nom:
						<strong>Diouf</strong>
					</p>
					<p>Adresse:
						<strong>Médina Rue 10x25</strong>
					</p>
					<p>Tel:
						<strong>77 436 65 14</strong>
					</p>
					<p>Email:
						<strong>gabilau2406@gmail.com</strong>
					</p>


				</div>
			</div>


		</div>
		<div class="container">
			<div class="row">
				{% for image in anounce.images %}
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<img src="{{image.imageUrl}}" alt="" class="card-img w-100%">
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	{% endblock %}
